#container {
  background-color: #000;
}

#search-bar {
  margin-right: 10vh;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

#search-bar a {
  text-decoration: none;
  color: #000;
}

#search-bar h1 {
  font-size: 22px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f4c518;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
}

#search-bar input {
  margin-left: 20px;
  height: 30px;
  width: 700px;
  border-radius: 6px;
  outline-color: #f4c518;
}

#movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 60%;
  margin: 2rem auto;
  color: white;
}

.movie-card {
  background-color: #1a1a1a;
  border-radius: 10px;
}

.movie-card img {
  width: 100%;
}

.movie-card h1 {
  padding-left: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.movie-card p {
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
}

 .movie-card a {
  text-decoration: none;
  color: #f5f5f5;
}

#category-title {
  color: #f4c518;
  margin-left: 45vh;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  color: #fff;
  display: block;
  text-align: center;
}

